<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Preveri Jackpot</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

    <h1>Preveri cifre</h1>

        <form method="post" action="/rezultat">
            <p>Vpiši zmagovalne cifre:</p>
            <input name="dobitna1" placeholder="1">
            <input name="dobitna2" placeholder="2">
            <input name="dobitna3" placeholder="3">
            <input name="dobitna4" placeholder="4">
            <input name="dobitna5" placeholder="5">
            *
            <input name="dobitna-dodatna1" placeholder="x1">
            <input name="dobitna-dodatna2" placeholder="x2">

            <p>Vpiši igrane cifre:</p>
            <input name="igrana1-1" placeholder="1">
            <input name="igrana1-2" placeholder="2">
            <input name="igrana1-3" placeholder="3">
            <input name="igrana1-4" placeholder="4">
            <input name="igrana1-5" placeholder="5">
            *
            <input name="igrana-dodatna1-1" placeholder="x1">
            <input name="igrana-dodatna1-2" placeholder="x2">

            <p></p>
            <input name="igrana2-1" placeholder="1">
            <input name="igrana2-2" placeholder="2">
            <input name="igrana2-3" placeholder="3">
            <input name="igrana2-4" placeholder="4">
            <input name="igrana2-5" placeholder="5">
            *
            <input name="igrana-dodatna2-1" placeholder="x1">
            <input name="igrana-dodatna2-2" placeholder="x2">

            <p></p>
            <input name="igrana3-1" placeholder="1">
            <input name="igrana3-2" placeholder="2">
            <input name="igrana3-3" placeholder="3">
            <input name="igrana3-4" placeholder="4">
            <input name="igrana3-5" placeholder="5">
            *
            <input name="igrana-dodatna3-1" placeholder="x1">
            <input name="igrana-dodatna3-2" placeholder="x2">

            <p></p>
            <input name="igrana4-1" placeholder="1">
            <input name="igrana4-2" placeholder="2">
            <input name="igrana4-3" placeholder="3">
            <input name="igrana4-4" placeholder="4">
            <input name="igrana4-5" placeholder="5">
            *
            <input name="igrana-dodatna4-1" placeholder="x1">
            <input name="igrana-dodatna4-2" placeholder="x2">

            <p></p>
            <input name="igrana5-1" placeholder="1">
            <input name="igrana5-2" placeholder="2">
            <input name="igrana5-3" placeholder="3">
            <input name="igrana5-4" placeholder="4">
            <input name="igrana5-5" placeholder="5">
            *
            <input name="igrana-dodatna5-1" placeholder="x1">
            <input name="igrana-dodatna5-2" placeholder="x2">

            <br>
            <a href="/rezultat"><button>Preveri cifre</button></a>
        </form>

</body>
</html>
