<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Preveri Jackpot</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

    <table>
        <tr>
            <th colspan="8">JACKPOT</th>
        </tr>
        <tr>
            <td>Izžrebane cifre</td>
            <td>{{ dobitna1 }}</td>
            <td>{{ dobitna2 }}</td>
            <td>{{ dobitna3 }}</td>
            <td>{{ dobitna4 }}</td>
            <td>{{ dobitna5 }}</td>
            <td>{{ dobitna6 }}</td>
            <td>{{ dobitna7 }}</td>
        </tr>
        <tr>
            <td class="" rowspan="5">Igrane cifre</td>
            <td class="{{ barva11 }}">{{ igrana11 }}</td>
            <td class="{{ barva12 }}">{{ igrana12 }}</td>
            <td class="{{ barva13 }}">{{ igrana13 }}</td>
            <td class="{{ barva14 }}">{{ igrana14 }}</td>
            <td class="{{ barva15 }}">{{ igrana15 }}</td>
            <td class="{{ barva16 }}">{{ igrana16 }}</td>
            <td class="{{ barva17 }}">{{ igrana17 }}</td>
        </tr>
        <tr>
            <td class="{{ barva21 }}">{{ igrana21 }}</td>
            <td class="{{ barva22 }}">{{ igrana22 }}</td>
            <td class="{{ barva23 }}">{{ igrana23 }}</td>
            <td class="{{ barva24 }}">{{ igrana24 }}</td>
            <td class="{{ barva25 }}">{{ igrana25 }}</td>
            <td class="{{ barva26 }}">{{ igrana26 }}</td>
            <td class="{{ barva27 }}">{{ igrana27 }}</td>
        </tr>
        <tr>
            <td class="{{ barva31 }}">{{ igrana31 }}</td>
            <td class="{{ barva32 }}">{{ igrana32 }}</td>
            <td class="{{ barva33 }}">{{ igrana33 }}</td>
            <td class="{{ barva34 }}">{{ igrana34 }}</td>
            <td class="{{ barva35 }}">{{ igrana35 }}</td>
            <td class="{{ barva36 }}">{{ igrana36 }}</td>
            <td class="{{ barva37 }}">{{ igrana37 }}</td>
        </tr>
        <tr>
            <td class="{{ barva41 }}">{{ igrana41 }}</td>
            <td class="{{ barva42 }}">{{ igrana42 }}</td>
            <td class="{{ barva43 }}">{{ igrana43 }}</td>
            <td class="{{ barva44 }}">{{ igrana44 }}</td>
            <td class="{{ barva45 }}">{{ igrana45 }}</td>
            <td class="{{ barva46 }}">{{ igrana46 }}</td>
            <td class="{{ barva47 }}">{{ igrana47 }}</td>
        </tr>
        <tr>
            <td class="{{ barva51 }}">{{ igrana51 }}</td>
            <td class="{{ barva52 }}">{{ igrana52 }}</td>
            <td class="{{ barva53 }}">{{ igrana53 }}</td>
            <td class="{{ barva54 }}">{{ igrana54 }}</td>
            <td class="{{ barva55 }}">{{ igrana55 }}</td>
            <td class="{{ barva56 }}">{{ igrana56 }}</td>
            <td class="{{ barva57 }}">{{ igrana57 }}</td>
        </tr>
    </table>

</body>
</html>
