<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Preveri Jackpot</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

    <table>
        <tr>
            <th colspan="8">JACKPOT</th>
        </tr>
        <tr>
            <td>Izžrebane cifre</td>
            <td>{{ dobitna1 }}</td>
            <td>{{ dobitna2 }}</td>
            <td>{{ dobitna3 }}</td>
            <td>{{ dobitna4 }}</td>
            <td>{{ dobitna5 }}</td>
            <td>{{ dobitnax1 }}</td>
            <td>{{ dobitnax2 }}</td>
        </tr>
        <tr>
            <td class="" rowspan="5">Igrane cifre</td>
            <td class="{{ barva1 }}">{{ igrana1 }}</td>
            <td class="{{ barva2 }}">{{ igrana2 }}</td>
            <td class="{{ barva3 }}">{{ igrana3 }}</td>
            <td class="{{ barva4 }}">{{ igrana4 }}</td>
            <td class="{{ barva5 }}">{{ igrana5 }}</td>
            <td class="{{ barvax1 }}">{{ igranax1 }}</td>
            <td class="{{ barvax2 }}">{{ igranax2 }}</td>
        </tr>
        <tr>
            <td class="{{ barva6 }}">{{ igrana6 }}</td>
            <td class="{{ barva7 }}">{{ igrana7 }}</td>
            <td class="{{ barva8 }}">{{ igrana8 }}</td>
            <td class="{{ barva9 }}">{{ igrana9 }}</td>
            <td class="{{ barva10 }}">{{ igrana10 }}</td>
            <td class="{{ barvax3 }}">{{ igranax3 }}</td>
            <td class="{{ barvax4 }}">{{ igranax4 }}</td>
        </tr>
        <tr>
            <td class="{{ barva11 }}">{{ igrana11 }}</td>
            <td class="{{ barva12 }}">{{ igrana12 }}</td>
            <td class="{{ barva13 }}">{{ igrana13 }}</td>
            <td class="{{ barva14 }}">{{ igrana14 }}</td>
            <td class="{{ barva15 }}">{{ igrana15 }}</td>
            <td class="{{ barvax5 }}">{{ igranax5 }}</td>
            <td class="{{ barvax6 }}">{{ igranax6 }}</td>
        </tr>
        <tr>
            <td class="{{ barva16 }}">{{ igrana16 }}</td>
            <td class="{{ barva17 }}">{{ igrana17 }}</td>
            <td class="{{ barva18 }}">{{ igrana18 }}</td>
            <td class="{{ barva19 }}">{{ igrana19 }}</td>
            <td class="{{ barva20 }}">{{ igrana20 }}</td>
            <td class="{{ barvax7 }}">{{ igranax7 }}</td>
            <td class="{{ barvax8 }}">{{ igranax8 }}</td>
        </tr>
        <tr>
            <td class="{{ barva21 }}">{{ igrana21 }}</td>
            <td class="{{ barva22 }}">{{ igrana22 }}</td>
            <td class="{{ barva23 }}">{{ igrana23 }}</td>
            <td class="{{ barva24 }}">{{ igrana24 }}</td>
            <td class="{{ barva25 }}">{{ igrana25 }}</td>
            <td class="{{ barvax9 }}">{{ igranax9 }}</td>
            <td class="{{ barvax10 }}">{{ igranax10 }}</td>
        </tr>
    </table>
    <div class="domov-b">
        <a href="/"><button>Domov</button></a>
    </div>
</body>
</html>
